<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Hello {{auth.getUserDisplayName()}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-grid>
          <div *ngIf="loading()">
            <ion-row>
              <ion-col align="center">
                <ion-spinner></ion-spinner>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="!loading()">
            <ion-row>
              <ion-col size="12" align="center">
                <ion-text color="primary">
                  <h1>Slaves</h1>
                </ion-text>
              </ion-col>
            </ion-row>
        </div>
          <div *ngIf="!loading()">
            <div *ngFor="let slave of slaves">
              <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                  <ion-button (click)="navSlave(slave)" expand="block" [color]="getButtonColor(slave)">{{slave.displayName}}</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" align="center">
                  {{getSlaveLastSeenDisplayTime(slave)}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" align="center">
                  &nbsp;
                </ion-col>
              </ion-row>
            </div>
            <ion-row>
              <ion-col size="3"></ion-col>
              <ion-col size="6">
                <ion-button (click)="newSlave()" expand="block" color="primary">New Slave</ion-button>
              </ion-col>
              <ion-col size="3"></ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
      <ion-col size="4">
        <ion-grid>
          <div *ngIf="loading()">
            <ion-row>
              <ion-col align="center">
                <ion-spinner></ion-spinner>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="!loading()">
              <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="10" align="center">
                  <ion-text color="primary">
                    <h1>Unread Messages ({{messages.length}})</h1>
                  </ion-text>
                </ion-col>
              </ion-row>
          </div>
          <div *ngIf="!loading()">
            <div *ngFor="let message of messages">
              <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="10">
                  <ion-card color="medium">
                    <ion-card-header>
                      <ion-card-title align="left">{{getSlaveName(message.slave)}}</ion-card-title>
                      <ion-card-subtitle>{{getMessageDisplayTime(message)}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      {{message.message}}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-grid>
      </ion-col>
      <ion-col size="4">
        <ion-grid>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col align="center" size="6">
              <ion-button (click)="navDiceTemplate()" expand="block" color="primary">Dice Game Admin</ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col align="center" size="6">
              <ion-button (click)="auth.signOut()" expand="block" color="primary">Sign Out</ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
